<!--
    地図上に最適な目的地、周辺情報を表示するページ
  -->
{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="text1">
  <p>
    <a href="{% url 'add_route' group.pk %}">>路線選択</a>
  </p>

  <p>
    < 登録情報 ><br>
   　待ち合わせ人数 : {{ group.people }}
    {% if group.destination %}
    　目的地 : {{ landmark }}<br>
    {% else %}
    　目的地：なし<br>
    {% endif %}
  </p>

  <p>
    < 利用路線 ><br>
    {% for r in route %}
      ・{{ r.0 }}　{{ r.1 }}人<br>
    {% endfor %}
  </p>

  <p>
    < 利用改札 ><br>
    {% for rg in route_gate %}
      ・{{ rg.0.0 }}　{{ rg.0.1 }}人 → {{ rg.1.0 }}
      <br>
    {% endfor %}
    <br>
  </p>

</div>

  <p class="maru"><span>1</span></p>: 西武新宿駅　　　　　　
  <p class="maru"><span>2</span></p>: 都営大江戸線　新宿西口駅　
  <p class="maru"><span>3</span></p>: 都営大江戸線　新宿駅<br>
  <p class="maru"><span>4</span></p>: 副都心線　新宿三丁目駅
  <p class="maru"><span>5</span></p>: 丸ノ内線　新宿駅　　　　　
  <p class="maru"><span>6</span></p>: 丸ノ内線　新宿三丁目駅<br>
  <p class="maru"><span>7</span></p>: 都営新宿線　新宿駅　　
  <p class="maru"><span>8</span></p>: 都営新宿線　新宿三丁目駅　
  <p class="maru"><span>9</span></p>: JR線　新宿駅<br>
  <p class="maru"><span>10</span></p>: 京王線　新宿駅　　　　
  <p class="maru"><span>11</span></p>: 京王新線　新宿駅　　　　　
  <p class="maru"><span>12</span></p>: 小田急線　新宿駅<br>

  <img src="{% static "img/icon/gate.png"%}"/ style="padding-bottom: 2px">:改札　　
  <img src="{% static "img/icon/stairs.png"%}"/ style="padding-bottom: 2px"> :階段　　
  <img src="{% static "img/icon/escalator.png"%}"/ style="padding-bottom: 2px"> :エスカレーター　
  <img src="{% static "img/icon/elevator.png"%}"/ style="padding-bottom: 2px"> :エレベーター　
  <img src="{% static "img/icon/police.png"%}"/ style="padding-bottom: 2px"> :警察　
  <img src="{% static "img/icon/toilet.png"%}"/ style="padding-bottom: 2px"> :トイレ
  <br><br>


<style>
  .maru{
   text-align:center;
   line-height: 22px;
   font-weight:bold;
   vertical-align: middle;
   display: inline-block;
   border-radius: 22px;
   margin: 4px;
   width: 22px;
   height: 22px;
   background-color:  #F6C03E;
  }
  .line{
  display: inline-block;
  vertical-align: bottom;

</style>


<p>
  <font size="4">
    ＊ボタンによる階層の切り替え可<br><br>
  <button type="button" id="kaisou1" onclick="changeLayer('1F');place_reset('kaisou2','kaisou3','kaisou4');changeColor('kaisou1')" style="width:120px;height:80px"><font size="5">地上階</font></button>
  <button type="button" id="kaisou2" onclick="changeLayer('B1');place_reset('kaisou1','kaisou3','kaisou4');changeColor('kaisou2')" style="width:100px;height:80px"><font size="5">B1</font></button>
  <button type="button" id="kaisou3" onclick="changeLayer('B2');place_reset('kaisou1','kaisou2','kaisou4');changeColor('kaisou3')" style="width:100px;height:80px"><font size="5">B2</font></button>
  <button type="button" id="kaisou4" onclick="changeLayer('B3');place_reset('kaisou1','kaisou2','kaisou3');changeColor('kaisou4')" style="width:100px;height:80px"><font size="5">B3</font></button>
</p>

<div id="mapcontainer" style="width:900px;height:900px"></div>


<script>
  /*----------地図表示---------*/
  //地図の宣言と設定
  var map = L.map("mapcontainer", {
    crs: L.CRS.Simple,
    minZoom: 0,
    maxZoom: 2,
  });

  //地図の中心座標と初期ズームレベルを指定。
  map.setView(L.latLng(-1000/2, 1000/2), 0);

  //タイルの設定、地図上への表示。
  var tile = L.tileLayer("{% static 'nodemap2' %}" + "/1F/{z}/{x}/{y}.png", {
    tileSize: 1000,
    attribution: "<a>自作タイル</a>",
  }).addTo(map);


  /*-----ノード上にマーカーを配置する-----*/

  //マーカーを階層別にグループわけする。1F~B3のノードとother(改札)
  var markerList_all = L.featureGroup();
  var markerList_idea1 = L.featureGroup();
  var markerList_idea2 = L.featureGroup();

  //マーカー用画像の指定
  var blueIcon = L.icon({
    iconUrl: "{% static 'img/icon' %}" + '/blue.png',
    iconSize: [34,55],
    iconAnchor: [17,55],
    iconRetinaUrl: "{% static 'img/icon' %}" + '/blue_2x.png',
  });
  var pathIcon = L.icon({
    iconUrl: "{% static 'img/icon' %}" + '/nakadake.png',
    iconSize: [18,18],
    iconAnchor: [9,9],
    iconRetinaUrl: "{% static 'img/icon' %}" + '/nakadake.png',
  });
  var hereIcon = L.icon({
    iconUrl: "{% static 'img/icon' %}" + '/hereIcon.png',
    iconSize: [60,95],
    iconAnchor: [30,95],
    iconRetinaUrl: "{% static 'img/icon' %}" + '/hereIcon_2x.png',
  });

  //全ノード番号と座標データを格納するリスト
  var result = [];

  //待ち合わせ場所ノード番号を格納
  var markList2 = {{ meet }};
  //meetが複数あった場合、markList2を昇順にソートすること！！
  //markListのindex指定用カウンタ変数
  var counter = 0;
  //途中経過ノード番号を格納
  var pathList_onePoint = {{ pathList_near }};

  function getCSV(){
      var req = new XMLHttpRequest(); // HTTPでファイルを読み込むためのXMLHttpRrequestオブジェクトを生成
      req.open("get", "{% static 'nodemap2' %}" + "/nodenumber.csv", true); // アクセスするファイルを指定
      req.send(null); // HTTPリクエストの発行

      // レスポンスが返ってきたらconvertCSVtoArray()を呼ぶ
      req.onload = function(){
  	     convertCSVtoArray(req.responseText); // 渡されるのは読み込んだCSVデータ
      }
  }

  //読み込んだCSVデータが文字列として渡される
  function convertCSVtoArray(str){
    var tmp = str.split("\n"); // 改行を区切り文字として行を要素とした配列を生成

    for(var i=0;i<tmp.length;++i){
        result[i] = tmp[i].split(',');

        if(result[i][0] - 0 == markList2[counter]) {
          search_and_add(i);
        } else {
        switch (result[i][3] - 0) {
          case 0: //路線ノードの場合
            {% for r in routes %}
              if (result[i][0] == {{ r.route }} - 0) {
                L.marker([result[i][1], result[i][2]], {icon: blueIcon}).addTo(map);
                break;
              }
            {% endfor %}
            break;
          default: //万が一上記以外の数字が出た場合は何もしない
            search_and_add_other(i);
            break;
          }
        }
    }
  }


  //------マーカーのグループ分け作業用関数
  function search_and_add(i) {
    for (var a=0; a<markList2.length; a++) {
      //console.log(result[i][0]);
      if (result[i][0] == markList2[a]) {
        var content1 = "";
        if (result[i][0] - 0 >= 1000) {
          content1 = "<img src='{% static 'img/point/pointImg_name/' %}" + result[i][0] + ".png'>";
        } else {
          content1 = "この周辺がおすすめです";
        }
        var kaisou = result[i][4];
        if (kaisou.startsWith("B")) {
          changeLayer(kaisou);
        } else {
          changeLayer("1F");
        }
        var popup = L.popup({ maxWidth:800, maxHeight:800 });
        popup.setContent(content1);
        markerList_idea2.addLayer(L.marker([result[i][1], result[i][2]], {icon: hereIcon}).bindPopup(popup).openPopup());
        break;
      }
    }
  }

  function search_and_add_other(i) {
    for(var idx = 0; idx < pathList_onePoint.length; idx++) {
      for (var a = 0; a < pathList_onePoint[idx].length; a++) {
        if (result[i][0] == pathList_onePoint[idx][a]) {
          markerList_idea2.addLayer(L.marker([result[i][1], result[i][2]], {icon: pathIcon}));
          break;
        }
      }
    }
  }


  //上の方に書いてあるgetCSV関数を呼び出して処理実行。
  getCSV();

  map.addLayer(markerList_idea2.openPopup());

  //タイル差し替え用関数
  function changeLayer(place) {
    console.log("{% static 'nodemap2/' %}" + place + "/{z}/{x}/{y}.png");
    tile.setUrl("{% static 'nodemap2/' %}" + place + "/{z}/{x}/{y}.png");
  }

  //ボタン色切り替え用関数
  function changeColor(idname){
    var obj = document.getElementById(idname);
    obj.style.backgroundColor = '#87ceed';
  }

  //ボタン色リセット用関数
  function place_reset(idname,idname1,idname2){
    var obj = document.getElementById(idname);
    var obj1 = document.getElementById(idname1);
    var obj2 = document.getElementById(idname2);
    obj.style.backgroundColor = '#efefef';
    obj1.style.backgroundColor = '#efefef';
    obj2.style.backgroundColor = '#efefef';
  }

</script>
{% endblock %}
